* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-color-dark: #262526;
    --font-color-light: #FFFDF5;
    --primary-color: #167789;
    --soft-orange: #D96F4F;
    --clear-cream: #FFF7E8;
    --heading-font: Montserrat,
        Helvetica,
        sans-serif;
    --body-font: Montserrat,
        Helvetica,
        sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--accent-color-1);
}

body {
    font-family: var(--body-font);
    color: var(--font-color-dark);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

footer {
    display: grid;
    grid-template-columns: 5fr 2fr;
    border-top: 1px solid var(--soft-orange);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--font-color-dark);
}

nav,
p,
section,
article,
.cta-section {
    margin: 16px;
    padding: 8px;
    font-family: var(--body-font);
}

.header-container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    padding: 20px 0px;
}

.header-container img {
    justify-self: center
}

.header-container nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.header-container nav a {
    text-decoration: none;
    font-family: var(--heading-font);
    color: var(--font-color-light);
    font-weight: 700
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    padding-top: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent-color-1);
    color: var(--font-color-light);
}

.hero article {
    position: absolute;
    bottom: 20px;
    width: 95%;
    padding: 16px;
    text-align: left;
    opacity: 0.8;
    background-color: var(--clear-cream);
    color: var(--font-color-dark);
    display: flex;
}

.hero article p {
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
}

.hero article img {
    float: right;
    width: 125px;
}

h2 {
    width: 100%;
    background-color: var(--accent-color-1);
    color: var(--font-color-light);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.history-section,
.cta-section {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.history-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}

.history-section h2 {
    color: var(--font-color-dark);
    grid-column: 1/4;
}

.history-section img {
    width: 100%;
    align-self: center;
}

.adventures {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow: hidden;
}

.adventures figure img {
    width: 100%;
}